{% load static %}
<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Temperature Monitor</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div id="data-container">
      <img id="temp-icon" src="" alt="Ładowanie..." style="width: 150px" />
      <h1 id="temp-display">Temperatura: <span id="temp-value">--</span>°C</h1>
    </div>
    <div id="graph-container">
      <canvas id="temp-chart"></canvas>
    </div>
    <script src="{% static 'js/updateTemp.js' %}"></script>
  </body>
</html>
